<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Edit Server</h4>
        </div>
        <div class="panel-body">

            <div class="alert alert-danger" v-if="error.has">
                An Error Occurred!<br>
                "{{ error.message }}"
            </div>

            <div class="form-group">
                <label>Server Name</label>
                <input type="text" class="form-control" v-model="server.name" placeholder="Enter the name of the server (no spaces)" disabled>
                <small class="text-muted">Not editable as it is the name of the directory</small>
            </div>

            <div class="form-group">
                <label>Server Display Name</label>
                <input type="text" class="form-control" v-model="server.display_name" placeholder="Enter the display name of the server">
            </div>

            <div class="form-group">
                <label>Server Type</label>
                <select class="form-control" v-model="server.type" disabled>
                    <option value="vanilla">Vanilla</option>
                    <option value="forge">Forge</option>
                    <option value="sponge">Sponge</option>
                </select>
                <small class="text-muted">Not editable as it requires different server executables.</small>
            </div>

            <a role="button" @click="showJVM = !showJVM">
                {{ showJVM ? 'Hide' : 'Show' }} JVM Start Options
            </a>

            <a class="pull-right" role="button" @click="showProperties = !showProperties">
                {{ showProperties ? 'Hide' : 'Show' }} Server Properties
            </a>

            <!--  ADVANCED  -->

            <div v-show="showJVM">
                <hr>

                <div class="form-group">
                    <label>Starting Memory (-Xms value)</label>
                    <input type="text" class="form-control" v-model="server.start_memory" placeholder="Blank for default">
                </div>

                <div class="form-group">
                    <label>Maximum Memory (-Xmx value)</label>
                    <input type="text" class="form-control" v-model="server.max_memory" placeholder="Enter a max memory value (1024M min recommended)">
                </div>

                <div class="form-group">
                    <label>Additional JVM Arguments</label>
                    <input type="text" class="form-control" v-model="server.jvm_arguments" placeholder="Blank for default">
                </div>

            </div>

            <div v-show="showProperties">
                <hr>

                <property v-for="(value, key) in server.properties" :key="key" :name="key" :value="value" @input="update"></property>
            </div>

        </div>
        <div class="panel-footer">
            <a class="btn btn-danger pull-right" :disabled="saving" href="/server">
                <i class="fa fa-fw fa-times"></i>
                Cancel
            </a>

            <button class="btn btn-success" :disabled="saving || !valid" @click="save()">
                <i :class="[ 'fa', 'fa-fw', { 'fa-check': !saving, 'fa-spin': saving, 'fa-spinner': saving } ]"></i>
                {{ saving ? 'Saving...' : 'Save' }}
            </button>

            <div v-if="saving">
                <small class="text-center">Please note it may take up to 2 minutes to save server details.</small>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import axios from 'axios';

    export default {
        props: [ 'data' ],

        data() {
            return {
                server: {},
                showJVM: false,
                showProperties: false,
                saving: false,
                valid: false,
                error: {
                    has: false,
                    message: '',
                }
            }
        },

        created() {
            this.server = this.data;
        },

        watch: {
            server: {
                handler: function (val, old) {
                    if(val.name !== '' && val.display_name !== '') {
                        this.valid = true;
                    } else {
                        this.valid = false;
                    }
                },
                deep: true,
            }
        },

        methods: {
            save() {
                this.saving = true;
                axios.put('/api/server/' + this.server.id + '/update', {
                    server: this.server, properties: this.server.properties
                }).then(response => {
                    window.location = '/server';
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            update(payload) {
                if(this.showProperties) {
                    this.server.properties[payload.key] = payload.value;
                }
            },
        }
    }
</script>
