<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">New Server</h4>
        </div>
        <div class="panel-body">

            <div class="alert alert-danger" v-if="error.has">
                An Error Occurred!<br>
                "{{ error.message }}"
            </div>

            <div class="form-group">
                <label>Server Name</label>
                <input type="text" class="form-control" v-model="server.name" placeholder="Enter the name of the server (no spaces)">
            </div>

            <div class="form-group">
                <label>Server Display Name</label>
                <input type="text" class="form-control" v-model="server.display_name" placeholder="Enter the display name of the server">
            </div>

            <div class="form-group">
                <label>Server Type</label>
                <select class="form-control" v-model="server.type">
                    <option value="vanilla">Vanilla</option>
                    <option value="forge">Forge</option>
                    <option value="sponge">Sponge</option>
                </select>
            </div>

            <a role="button" @click="showAdvanced = !showAdvanced">
                {{ showAdvanced ? 'Hide' : 'Show' }} Advanced Options
            </a>

            <!--  ADVANCED  -->

            <div v-if="showAdvanced">
                <hr>

                <div class="form-group">
                    <label>Port</label>
                    <input type="number" class="form-control" v-model="server.port" placeholder="Enter the port">
                </div>

                <div class="form-group">
                    <label>Level Name</label>
                    <input type="text" class="form-control" v-model="server.world_name" placeholder="Blank for default">
                </div>

                <div class="form-group">
                    <label>Level Seed</label>
                    <input type="text" class="form-control" v-model="server.seed" placeholder="Blank for random seed">
                </div>

                <div class="form-group">
                    <label>Level Type</label>
                    <input type="text" class="form-control" v-model="server.level_type" placeholder="Blank for default">
                </div>

                <div class="form-group">
                    <label>Difficulty</label>
                    <input type="number" class="form-control" v-model="server.difficulty" placeholder="Blank for default">
                </div>

                <div class="form-group">
                    <label>Message of the Day</label>
                    <input type="text" class="form-control" v-model="server.motd" placeholder="Blank for default">
                </div>

                <div class="form-group">
                    <label>Starting Memory (-Xms value)</label>
                    <input type="text" class="form-control" v-model="server.start_memory" placeholder="Blank for default">
                </div>

                <div class="form-group">
                    <label>Maximum Memory (-Xmx value)</label>
                    <input type="text" class="form-control" v-model="server.max_memory" placeholder="Enter a max memory value (1024M min recommended)">
                </div>

                <div class="form-group">
                    <label>Additional JVM Arguments</label>
                    <input type="text" class="form-control" v-model="server.jvm_arguments" placeholder="Blank for default">
                </div>

            </div>

        </div>
        <div class="panel-footer">
            <a class="btn btn-danger pull-right" :disabled="creating" href="/server">
                <i class="fa fa-fw fa-times"></i>
                Cancel
            </a>

            <button class="btn btn-success" :disabled="creating || !valid" @click="create()">
                <i :class="[ 'fa', 'fa-fw', { 'fa-check': !creating, 'fa-spin': creating, 'fa-spinner': creating } ]"></i>
                {{ creating ? 'Creating...' : 'Create' }}
            </button>

            <div v-if="creating">
                <small class="text-center">Please note it may take up to 2 minutes to create the server.</small>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import axios from 'axios';

    export default {
        data() {
            return {
                server: {
                    name: '',
                    display_name: '',
                    port: '25565',
                    type: 'vanilla',
                    world_name: '',
                    seed: '',
                    level_type: '',
                    difficulty: '',
                    motd: '',
                    start_memory: '',
                    max_memory: '1024M',
                    jvm_arguments: '',
                },

                showAdvanced: false,
                creating: false,
                valid: false,
                error: {
                    has: false,
                    message: '',
                }
            }
        },

        watch: {
            server: {
                handler: function (val, old) {
                    if(val.name !== '' && val.display_name !== '') {
                        this.valid = true;
                    } else {
                        this.valid = false;
                    }
                },
                deep: true,
            }
        },

        methods: {

            create() {

                this.creating = true;

                axios.post('/api/server/store', this.server).then(response => {
                      this.creating = false;
                      window.location = '/server';
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

        }
    }
</script>
