<template>
    <div>
        <div class="form-group">
            <label>{{ name }}</label>

            <div v-if="value === 'true' || value === 'false'">
                <select class="form-control" v-model="val">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>

            <div v-else>
                <input type="text" class="form-control" v-model="val" placeholder="Empty">
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        props: [
            'name',
            'value',
        ],

        mounted() {
            this.val = this.value;
        },

        data() {
            return {
                val: '',
            }
        },

        watch: {
            value: function (newValue) {
                this.val = newValue;
            },

            val: function (newValue) {
                this.$emit('input', { key: this.name, value: newValue });
            }
        }
    }
</script>
