<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{ server.display_name }}

                <div class="pull-right" v-if="showOptions">
                    <a :href="'/server/' + server.id + '/edit'">Edit</a>
                    &nbsp;|&nbsp;
                    <a class="text-danger pointer" @click="destroy()">Delete</a>
                </div>
            </h4>
        </div>

        <div class="panel-body">
            <div class="alert alert-danger" v-if="error.has">
                An Error Occurred!<br>
                "{{ error.message }}"
            </div>

            <div class="form-group">
                <label>Address</label>
                <p class="form-control-static">
                    {{ server.address }}:{{ server.port }}
                </p>
            </div>

            <div class="form-group">
                <label>Status</label>
                <p class="form-control-static">
                    <i class="fa fa-spin fa-spinner" v-if="status.acquiring"></i>
                    <span v-if="!status.acquiring && !starting"
                          :class="{ 'text-danger': !isOn, 'text-success': isOn }">
                        {{ status.text }}
                    </span>
                    <span v-if="!status.acquiring && starting" class="text-muted">
                        <i class="fa fa-spin fa-spinner"></i>
                        Starting...
                    </span>
                </p>
            </div>

            <div class="form-group" v-if="isOn">
                <label>Players Online</label>
                <div class="form-control-static">
                    <i class="fa fa-spin fa-spinner" v-if="players.acquiring"></i>
                    <div v-if="!players.acquiring">
                        {{ players.online }}
                        <br>
                        <div v-for="player in players.list">
                            - {{ player }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Modded?</label>
                <p class="form-control-static">
                    {{ server.modded ? 'Yes' : 'No' }}<br>
                </p>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" @click="download()" v-if="server.modded" :disabled="action.download || action.downloaded">
                    <i :class="[ 'fa fa-fw', { 'fa-spin fa-spinner': action.download, 'fa-download': !action.download } ]"></i>
                    {{ action.download ? 'Downloading Mods...' : 'Download Mods' }}
                </button>
            </div>
        </div>

        <div class="panel-footer" v-if="showOptions">
            <button class="btn btn-success" v-if="!isOn" @click="start()" :disabled="action.on">
                <i :class="[ 'fa', 'fa-fw', { 'fa-spin': action.on, 'fa-spinner': action.on, 'fa-power-off':!action.on } ]"></i>
                {{ action.on ? 'Turning On...' : 'Turn On' }}
            </button>

            <button class="btn btn-danger" v-if="isOn" @click="stop()" :disabled="action.off">
                <i :class="[ 'fa', 'fa-fw', { 'fa-spin': action.off, 'fa-spinner': action.off, 'fa-power-off':!action.off } ]"></i>
                {{ action.on ? 'Turning Off...' : 'Turn Off' }}
            </button>

            <button class="btn btn-danger" v-if="isOn && showKill" @click="kill()" :disabled="action.kill">
                <i :class="[ 'fa', 'fa-fw', { 'fa-spin': action.kill, 'fa-spinner': action.kill, 'fa-times':!action.kill } ]"></i>
                {{ action.on ? 'Killing Server...' : 'Kill Server' }}
            </button>

            <a class="btn btn-primary pull-right" :href="'/server/files?server=' + server.name">
                <i class="fa fa-fw fa-folder"></i>
                File Manager
            </a>

            <div v-if="isOn">
                <hr>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Execute a command..." v-model="command.command">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" :disabled="command.sending || command.command === ''" @click="send()">
                            <i class="fa fa-fw fa-spin fa-spinner" v-if="command.sending"></i>
                            {{ command.sending ? 'Executing...' : 'Execute' }}
                        </button>
                    </span>
                </div>
                <div v-if="command.output !== ''">
                    <hr>
                    <pre>{{ command.output }}</pre>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import axios from 'axios'

    export default {

        props: {
            server: { required: true },
            showOptions: { type: Boolean, required: false, default: false },
        },

        data() {
            return {
                status: {
                    acquiring: false,
                    text: '',
                },
                players: {
                    acquiring: false,
                    online: '0',
                    list: [],
                },
                action: {
                    on: false,
                    off: false,
                    kill: false,
                    download: false,
                    downloaded: false,
                },
                command: {
                    sending: false,
                    output: '',
                    command: '',
                },
                error: {
                    has: false,
                    message: '',
                },
                starting: false,
            }
        },

        mounted() {
            this.getData();
            setInterval(() => {
                this.getData();
            }, 60000); // Poll every minute
        },

        computed: {
            isOn() {
                return this.status.text === 'Running';
            },

            showKill() {
                return this.action.off;
            },
        },

        methods: {
            getData() {
                this.getStatus().then(() => {
                    if(this.status.text === 'Running' && !this.starting) {
                        this.getPlayers();
                    }
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            getStatus() {
                this.status.acquiring = true;
                return axios.get('/api/server/' + this.server.id + '/status').then(response => {
                    this.status.text = response.data.status;
                    this.starting = response.data.starting;
                    this.status.acquiring = false;
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            getPlayers() {
                this.players.acquiring = true;
                return axios.get('/api/server/' + this.server.id + '/players').then(response => {
                    this.players.online = response.data.count;
                    this.players.list = response.data.list;
                    this.players.acquiring = false;
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            start() {
                this.action.on = true;
                axios.get('/api/server/' + this.server.id + '/start').then(response => {
                    this.action.on = false;
                    this.getStatus();
                    if(response.data === 'Started.') {
                        this.starting = true;
                        axios.get('/api/server/' + this.server.id + '/waitStart').then(response => {
                             this.starting = false;
                        }).catch(error => {
                            this.starting = false;
                        });
                    }
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            stop() {
                this.action.off = true;
                axios.get('/api/server/' + this.server.id + '/stop').then(response => {
                    this.action.off = false;
                    this.getStatus();
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            kill() {
                this.action.kill = true;
                axios.get('/api/server/' + this.server.id + '/kill').then(response => {
                    this.action.kill = false;
                    this.getStatus();
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            send() {
                this.command.sending = true;
                axios.post('/api/server/' + this.server.id + '/sendCommand', {
                    command: this.command.command,
                }).then(response => {
                    this.command.sending = false;
                    this.command.output = response.data;
                    this.command.command = '';
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            destroy() {
                axios.delete('/api/server/' + this.server.id).then(response => {
                    location.reload();
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },

            download() {
                this.action.download = true;
                this.action.downloaded = false;
                axios.get('/api/server/' + this.server.id + '/getModsDownloadUrl').then(response => {
                    location = response.data;
                    this.action.download = false;
                    this.action.downloaded = true;
                }).catch(error => {
                    this.error = {
                        has: true,
                        message: error.response.data
                    };
                });
            },


        },
    }
</script>

<style scoped>
    .pointer {
        cursor: pointer;
    }
</style>